/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("ttf");
}
@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "TTNorms";
  src: url("/fonts/TTNorms-Regular.ttf") format("ttf");
}
.page-content {
  background-color: #f3f7fa;
}

.before-header {
  height: 42px;
  width: 100%;
  background-image: linear-gradient(-45deg, #2f5e8e 40%, #336699 40%);
}

.before-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1372px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.before-header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.before-header-left ul li {
  padding: 10px 5px;
}

.before-header-left ul li a {
  color: #FFFFFF;
}

.before-header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.before-header-right ul li {
  padding: 15px;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.before-header-right ul li em {
  font-weight: 700;
  font-style: normal;
}

.before-header-right ul li a {
  color: #FFFFFF;
}

.before-header-right ul li:nth-child(2) {
  border-left: 1px solid #2b5782;
  border-right: 1px solid #2b5782;
}

.container {
  max-width: 1372px;
  margin: 0 auto;
}

header {
  background-color: #FFFFFF;
}

.header-wrap {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  border-right: 1px solid #EEEEEE;
  line-height: 110px;
  padding-right: 60px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-burger {
  display: none;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-menu li {
  padding: 35px 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-menu li a:hover {
  color: #f4c23d;
}

.header-menu li a {
  color: #222222;
}

.header-cart {
  background-color: #e9e9e9;
  padding: 6px 12px;
}

.header-cart span {
  background-color: #777777;
  padding: 3px 7px;
  border-radius: 10px;
  color: #FFFFFF;
}

.header-search {
  background-color: #f1f7fb;
  border-radius: 50px;
  padding: 9px 12px;
}

.sub-menu {
  display: none;
  height: 100vh;
  padding: 5px 0;
  color: #FFFFFF;
  z-index: 9999999999999;
  position: relative;
}

.sub-menu li {
  padding: 15px 5px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  background-color: #222222;
}

.has-child {
  max-height: 85px;
}

.has_child:hover + .sub-menu {
  display: block;
  z-index: 999999999999;
}

.header-menu .has-child:hover ul.sub-menu {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 310px;
  z-index: 999999999999;
}

.sub-has-child:hover .sub-sub-menu {
  display: block;
}

.sub-sub-menu {
  display: none;
}

.sub-sub-menu li a {
  color: #FFFFFF;
}

section.slider {
  height: 502px;
  background-color: #3F6695;
}

.swiper {
  height: 502px;
}

.main-slider-arrow-left {
  background-image: url("/img/main-slider-left.png");
  background-size: cover;
  width: 50px !important;
  height: 50px !important;
}

.main-slider-arrow-left::after {
  content: "" !important;
}

.main-slider-arrow-right {
  background-image: url("/img/main-slider-right.png");
  background-size: cover;
  width: 50px !important;
  height: 50px !important;
}

.main-slider-arrow-right::after {
  content: "" !important;
}

.slider-content {
  max-width: 371px;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-item img {
  max-width: 817px;
}

.slider-title {
  font-family: "TTHoves", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.slider-text {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-bottom: 34px;
}

.slider-btn {
  padding: 15px 48px;
  background-color: #FFFFFF;
  color: #3F6695;
  font-family: "TTHoves", sans-serif;
}

.swiper-pagination {
  top: 85%;
  left: 7% !important;
}

.slider-pagination {
  width: auto !important;
}

.slider-paginate {
  border-radius: 0 !important;
  width: 63px !important;
  height: 3px !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF !important;
}

.slider-arrow-left {
  background-image: url("/img/slider-arrow-left.png");
  background-size: cover;
  width: 50px !important;
  height: 50px !important;
}

.slider-arrow-left::after {
  content: "" !important;
}

.slider-arrow-right {
  background-image: url("/img/slider-arrow-right.png");
  background-size: cover;
  width: 50px !important;
  height: 50px !important;
}

.slider-arrow-right::after {
  content: "" !important;
}

section.why {
  position: relative;
  top: -30px;
  z-index: 10;
}

.why-title {
  color: #3F6695;
  font-family: "TTHoves", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 21px;
  margin-top: 62px;
}

.why-left-text {
  font-family: "Roboto", sans-serif;
  color: #3C3C3C;
  font-size: 16px;
}

.why-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0 72px;
  border-radius: 5px;
}

.why-blocks {
  margin-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 27px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  margin-right: 47px;
}

.why-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-img {
  margin-right: 27px;
  background-image: url("/img/Ellipse.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 13px;
}

.why-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-right img {
  margin-top: 37px;
  max-height: 60%;
}

.why-block-right h4 {
  margin-bottom: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.why-block-right p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.why-btn {
  padding: 17px 94px;
  background-color: #3F6695;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "TTHoves", sans-serif;
  font-size: 16px;
  width: 387px;
  margin-top: 20px;
}

.posts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.posts-header-title h3 {
  color: #3F6695;
  font-family: "TTHoves", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.posts-header-title span {
  font-family: "TTNorms", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #878787;
}

.posts-header-btn {
  padding: 8px 27px;
  border: 1px solid #3F6695;
  color: #3F6695;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts-header-btn img {
  margin-left: 21px;
}

.index-posts-wrap {
  background-color: #FFFFFF;
  padding: 38px 72px;
  border-radius: 5px;
  margin-top: 41px;
}

.post-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 279px;
  max-height: 395px;
  padding: 10px;
  background-color: #F3F7FA;
  border-radius: 5px;
}

.post-slide-img {
  min-height: 246px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-slide-img:hover + .post-slide-fast-view {
  display: block;
}

.post-slide-fast-view {
  padding: 10px 80px;
  text-decoration-line: underline;
  color: #484848;
  background: #FFFFFF;
  opacity: 0.9;
  font-size: 12px;
  position: absolute;
  bottom: 35%;
  display: none;
  z-index: 999;
}

.post-slide-title {
  font-weight: 700;
  font-size: 13px;
  font-family: "TTNorms", sans-serif;
  max-width: 200px;
  margin-top: 17px;
}

.post-slide-text {
  font-weight: 400;
  font-size: 12px;
  color: #878787;
  font-family: "Roboto", sans-serif;
  margin-top: 14px;
}

.post-slide-btn {
  padding: 10px 100px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  border: 1px solid #929292;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 19px;
}

.post-slide-btn:hover {
  background-color: #3F6695;
  color: #FFFFFF;
}

.expertise {
  margin-top: 57px;
}

.last-news {
  margin-top: 57px;
}

.news-slider {
  max-height: 243px;
}

.news-slide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 602px;
  max-height: 184px;
  padding: 8px 7px;
  background-color: #F3F7FA;
  border-radius: 5px;
}

.news-slide-img {
  margin-right: 38px;
  border-radius: 5px;
}

.news-slide-left-part {
  max-width: 223px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.news-slide-left-part h3 {
  font-family: "TTNorms", sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 40px;
}

.news-slide-btn {
  font-family: "TTHoves", sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #3F6695;
}

.index-posts-wrap h3 {
  margin-bottom: 5px !important;
}

.index-posts-wrap .news-slide-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-slide-btn img {
  margin-left: 39px;
}

section.info {
  margin-top: 67px;
}

.pre-footer {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(40%, #2f5e8e), color-stop(40%, #336699));
  background-image: linear-gradient(-90deg, #2f5e8e 40%, #336699 40%);
}

.pre-footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-footer-input {
  background-color: #ffffff;
  border: none;
  height: 40px;
  width: 200px;
  display: inline-block;
  margin-right: -5px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #888888;
  padding-left: 15px;
  float: left;
}

.pre-footer-btn {
  display: inline-block;
  background-color: #f4c23d;
  line-height: 40px;
  text-align: center;
  padding: 0 10px;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;
}

.pre-footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.pre-footer-socials li a {
  background-color: #264c73;
  width: 64px;
  height: 64px;
  display: inline-block;
  text-align: center;
  line-height: 64px;
  color: #ffffff;
  font-size: 15px;
}

footer {
  background-color: #26313c;
  padding: 60px 0px 70px 0px;
  font-family: "Roboto", sans-serif;
  color: #8997a5;
}

.footer-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[3];
  grid-template-columns: repeat(3, 25%);
}

.footer-col h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  color: #FFFFFF;
}

.footer-desc {
  font-size: 13px;
  margin-top: 30px;
}

.footer-title {
  margin-bottom: 45px;
}

.footer-contact li {
  font-size: 12px;
  margin-top: 15px;
}

.footer-contact li i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: #ffffff;
  font-size: 13px;
  margin-right: 15px;
}

.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  max-width: 210px;
}

.footer-links a {
  font-size: 12px;
  color: #8997a5;
}

.footer-links a i {
  margin-right: 10px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  background-color: #1e2832;
}

.copyright-text {
  color: #8997a5;
}

.copyright-text em {
  color: #f4c23d;
  font-style: normal;
}

.copyright-text a {
  color: #FFFFFF;
  font-size: 12px;
}

.copyright-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.copyright-links a {
  color: #8997a5;
}

.page-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  margin-bottom: 36px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "TTNorms", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #878787;
}

.breadcrumbs a {
  color: #2C2C2C;
  text-decoration: underline;
}

.breadcrumbs a::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #3F6695;
  border-radius: 50px;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.page-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.page-title {
  font-size: 30px;
  font-weight: 500;
  color: #3F6695;
  font-family: "TTHoves", sans-serif;
}

.page-sub-title {
  font-size: 13px;
  font-weight: 400;
  font-family: "TTNorms", sans-serif;
  color: #878787;
  margin-bottom: 4px;
  margin-left: 42px;
}

.page-header-sort {
  background-color: #3F6695;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 8px 13px;
  font-family: "TTHoves", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

.content-wrap {
  background-color: #FFFFFF;
  padding: 28px 72px;
  margin-bottom: 55px;
}

.news-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts-paginate {
  margin-top: 68px;
}

.posts-paginate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6em;
}

.posts-paginate .current-page {
  color: #FFFFFF;
  z-index: 1;
  margin-left: 0.6em;
  margin-right: -0.6em;
}

.posts-paginate .current-page::after {
  content: "";
  background-image: url("/img/paginate-back.png");
  background-size: cover;
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  z-index: -1;
  bottom: 50%;
  right: 34%;
}

.posts-paginate ul li a {
  color: #B1B1B1;
}

.posts-page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

/* Mob menu */
.mob-menu-popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.mob-menu-popup .mob-menu-popup-content {
  width: 100%;
  height: 100vh;
  font-family: "TTHoves", sans-serif;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.mob-menu-popup .mob-menu-popup-content ul li a {
  color: #000000;
}

#close-mob-menu {
  width: 100%;
  text-align: right;
}

#close-mob-menu span {
  font-family: "TTHoves", sans-serif;
  font-size: 20px;
}

.display-n {
  display: none !important;
}

.posts-wrapper {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.post {
  padding: 8px 7px;
  background-color: #F3F7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 905px;
  border-radius: 5px;
}

.post-image {
  border-radius: 5px;
  max-width: 275px;
  margin-right: 38px;
}

.post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-title {
  font-weight: 500;
  font-family: "TTNorms", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  color: #161616;
}

.post-except {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #494949;
  margin-bottom: 39px;
}

.post-btn {
  font-weight: 500;
  font-size: 11px;
  color: #3F6695;
  font-family: "TTHoves", sans-serif;
}

.post-btn img {
  margin-left: 39px;
}

.post-info {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 29px;
  text-align: right;
}

.post-info-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}

.post-info-item-count {
  padding: 8px 27px;
  background-color: #3F6695;
  border-radius: 16px;
  color: #FFFFFF;
}

.post-date {
  color: #878787;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 20px;
}

.ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 20px;
}

/* Adaprive */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1072px;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  .post {
    min-width: 705px;
  }
}
@media screen and (max-width: 1025px) {
  .menu-burger {
    display: block;
  }
  .header-menu {
    display: none;
  }
  .container {
    max-width: 972px;
  }
  .slider-item img {
    max-width: 517px;
  }
  .post {
    min-width: 705px;
  }
}
@media screen and (max-width: 874px) {
  .why-blocks {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
  .why-right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .posts-page-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 810px) {
  .container {
    max-width: 800px;
  }
  .slider-item {
    display: -ms-grid;
    display: grid;
  }
  .mySwiper .swiper-pagination {
    left: 35% !important;
  }
  .slider-item img {
    display: none;
  }
  .slider-item img {
    max-width: 317px;
  }
  .why-wrapper {
    display: -ms-grid;
    display: grid;
  }
  .posts-header {
    display: -ms-grid;
    display: grid;
  }
  .posts-header-btn {
    margin-top: 20px;
  }
  .pre-footer-row {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pre-footer-socials {
    margin-top: 20px;
  }
  .pre-footer-col {
    width: 100%;
  }
  .pre-footer-input {
    width: 100%;
  }
  .pre-footer-btn {
    width: 100%;
  }
  .footer-row {
    -ms-grid-columns: (33%)[3];
    grid-template-columns: repeat(3, 33%);
  }
  .post {
    min-width: 100%;
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  .post-image {
    width: 100%;
    max-width: 100%;
  }
  .post-title {
    margin-top: 20px;
  }
  .post-content {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .post-except {
    margin-bottom: 10px;
  }
  .post-info {
    text-align: center;
    margin-top: 20px;
  }
  .post-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 650px) {
  .news-slide-wrap {
    display: -ms-grid;
    display: grid;
    max-width: 100%;
    min-width: unset;
    max-height: 100% !important;
  }
  .before-header-right {
    display: none;
  }
  .breadcrumbs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-header-wrap {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .page-title-block {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .page-header-right {
    margin-top: 24px;
  }
}
@media screen and (max-width: 610px) {
  .footer-row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news-slide-left-part h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 609px) {
  .container {
    max-width: 100%;
  }
  .slider-content {
    text-align: center;
  }
  .posts-header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .posts-header-title {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  .why-btn {
    width: 100%;
    font-size: 15px;
  }
  .why-wrapper {
    padding: 0;
  }
}